<div id="<%= dom_id house %>">
  <p>
    <strong>Title:</strong>
    <%= house.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= house.description %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= house.admin_id %>
  </p>

</div>
