<section class="section-products">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-md-8 col-lg-6">
        <div class="header">
          <h2>Casas en Venta</h2>
        </div>
      </div>
    </div>
    <div>
      <% if @houses.length < 0 %>
        <h1>No hay casas disponibles aun...</h1>
      <% else %>
        <% @houses.each do |house| %>
          <%= render house %>
        <% end %>
      <% end %>
    </div>
</section>
