<section class="d-none" id="user-section">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">Usuarios registrados en la página</h1>
  </div>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Fecha de registro</th>
        <th scope="col">Eliminar usuario</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user|%>
        <tr>
          <th scope="row"><%=user.id%></th>
          <td scope='row'><%= user.email %></td>
          <td scope='row'><%= user.created_at %></td>
          <td scope='row'>
            <%= link_to 'Eliminar', user_delete_path(user), class: "btn btn-warning", method: :delete%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
